body {
  background-color: #ecf0f1;
}
.question {
  border: 10px solid black;
  margin: 10px 0 10px 0;
  max-width: 1200px;
}
.newquestion {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.newquestion button {
  margin-bottom: 10px;
}
textarea {
  width: 400px;
  height: 300px;
}
input {
  width: 200px;
}
.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  text-shadow: 1px 1px 1px white;
}
.togglenewquestion {
  width: 800px;
  height: 60px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: black;
}
.navbar a {
  color: white;
  margin-left: 25px;
}
.navbar a:hover {
  color: black;
}
.navbar {
  background-color: black;
  margin-bottom: 0;
  color: white;
}
.brand {
  margin-top: 15px;
  margin-left: 5px;
}
.question a {
  color:black;
}

.question button {
  color: white;
  background-color: black;
  float: right;
  margin-bottom: 10px;
  margin-right: 30px;
}
button {
  color: white;
  background-color: black;
}
