<div class="jumbotron">
  <div class="container">
    <h1>Message Board</h1>
  </div>
</div>
<div class="container">
  <div class="newquestion">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
<div class="container names">
  <h2>{{name-tile questions=model}}</h2>
</div>
<div class="container">
  <div class="container">
    {{#each model as |question|}}
    <div class="container question">
      {{question-tile question=question update="update"}}
    </div>
    {{/each}}
  </div>
</div>
